body {
    background-color: #000000;
}


/*----------NAVBAR------------*/

.navbar.navbar-expand-lg.navbar-dark.bg-dark .edsheeran-brand {
    color: #6594F1;
    font-family: sans-serif;
    font-size: 25px;

}

.navbar.navbar-expand-lg.navbar-dark.bg-dark .nav-link {
    color: #6594F1;
    font-family: sans-serif;
    font-size: 15px;
}

/*----------CAROUSEL------------*/

.size {
    height: 90vh;
    width: 100%;
}

/*------------ABOUT-------------*/

.background {
    background-image: url("../../edsheeranblack.png");
    background-repeat: no-repeat;
    background-position: top right;
}

.container {
    width: 100%;
    color: red;
    position: relative;
    top: 3em;
    height: 35em;

}


