body {
    background-color: #343A40;
}


/*--------------------NAVBAR--------------------*/

.navbar.navbar-expand-lg.navbar-dark.bg-dark .edsheeran-brand {
    font-family: 'Indie Flower', cursive;
    color: #2E3EFF;
    font-size: 150%;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark .nav-link {
    font-family: 'Varela Round', sans-serif;
    color: #6594F1;
    font-size: 15px;
}

/*------------Navbar margin------------*/

.container-fluid {
    margin-top: 3em;
}

.marg {
    margin-top: 1em;
}


/*--------------------INDEX--------------------*/

/*-------------Carousel---------------*/

#carouselExampleCaptions {
    margin-top: 3em;
}

/*-----------About/Audio/Album Section------------*/

.card-title {
    font-family: 'Kanit', sans-serif;
}

.card-text {
    font-family: 'Varela Round', sans-serif;
}

.about-card {
    text-align: center;
    color: #2E3EFF;
    background-color: #343A40;
}


.audio-card {
    margin-top: 2em;
    text-align: center;
    color: #2E3EFF;
    background-color: #343A40;
}

.album-card {
    margin-top: 2em;
    text-align: center;
    color: #2E3EFF;
    background-color: #343A40;
    height: 14.8em;
}

.card-text {
    color: #6594F1;
}


/*-------------------------Events-------------------------*/

.hyper-colour {
    color: #6594F1;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 25px;
}

.events-left {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    margin-left: 0em;
    margin-top: 2em;
    color: #6594F1;
    background-color: #343A40;
    width: 80%;
    opacity: 1;
}

.events-right {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin-top: 1em;
    color: #6594F1;
    background-color: #343A40;
    width: 100%;
}


.events-leeds {
    background-image: url("../images/roundhay.png");
    background-repeat: no-repeat;
    opacity: 0.7;
}

.events-leeds:hover {
    opacity: 2;
    transition-duration: 1.5s;
}


.events-london {
    background-image: url("../images/wembley.png");
    background-repeat: no-repeat;
    opacity: 0.7;
}

.events-london:hover {
    opacity: 1;
    transition-duration: 1.5s;
}

.events-ipswich {
    background-image: url("../images/ipswich.png");
    background-repeat: no-repeat;
    opacity: 0.7;
}

.events-ipswich:hover {
    opacity: 1;
    transition-duration: 1.5s;

}

.events-madrid {
    background-image: url("../images/madrid.png");
    background-repeat: no-repeat;
    opacity: 0.7;
}

.events-madrid:hover {
    opacity: 1;
    transition-duration: 1.5s;
}


.events-lyon {
    background-image: url("../images/lyon.png");
    background-repeat: no-repeat;
    opacity: 0.7;
}

.events-lyon:hover {
    opacity: 1;
    transition-duration: 1.5s;

}

.events-lisbon {
    background-image: url("../images/lisbon.png");
    background-repeat: no-repeat;
    opacity: 0.7;
}

.events-lisbon:hover {
    opacity: 1;
    transition-duration: 1.5s;

}


@media only screen and (min-width: 599px) {
    .events-left {
        width: 40%;
        margin-left: 5em;
    }
    .events-right {
        width: 100%;
        margin-top: 1em;
    }
}


/*----------------------Merchandise-----------------------*/

.best-sellers {
    font-family: 'Kanit', sans-serif;
    text-decoration: underline;
    text-align: center;
    color: #6594F1;
    font-weight: 600;
    font-size: 30px;
    margin: 1em;
}

.latest-release {
    font-family: 'Kanit', sans-serif;
    text-decoration: underline;
    text-align: center;
    color: #6594F1;
    font-weight: 600;
    font-size: 30px;
    margin: 1em;
}

.card-title {
    font-family: 'Kanit', sans-serif;
    color: #2E3EFF;
}

.card-merch {
    font-family: 'Varela Round', sans-serif;
    background-color: #343A40;
    text-align: center;
    margin: 1em;
}

@media only screen and (min-width: 768px) {
    .card-merch {
        margin: 0em;
    }
}


/*---------------------------Subscribe---------------------------*/

.sub-background {
    background-image: url("../images/ed-sheeran-singing.jpg");
    background-repeat: no-repeat;
    background-position: top;
    opacity: 0.7;
    height: 55em;
}

.sub-title {
    position: relative;
    top: 5em;
}

.sub-head {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 50px;
    background-color: #2E3EFF;
}

.sub-para {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    font-size: 25px;
    background-color: #6594F1;
}

.form {
    padding-top: 1em;
}

.sub-form {
    position: relative;
    top: 4em;
}

.sub-btn {
    text-align: center;
    padding-top: 1em;
}



.sub-background:hover {
    opacity: 1;
    transition-duration: 2s;
}

@media only screen and (min-width: 769px) {
    .sub-title {
        position: relative;
        top: 15em;
    }

    .sub-form {
        position: relative;
        top: 14em;
    }
}


/*--------------Subscribe - Second Part--------------*/

.sub-card-issue {
    text-align: center;
    background-color: #343A40;
    margin-top: 1em;
}

.blue {
    font-family: 'Kanit', sans-serif;
    color: #2E3EFF;
}

.lg-blue {
    font-family: 'Varela Round', sans-serif;
    color: #6594F1;
}

.sub-card-list {
    position: relative;
    right: 1em;
    text-align: center;
    background-color: #343A40;
    margin-top: 1em;
}

.sub-card-map {
    text-align: center;
    background-color: #343A40;
    margin-top: 1em;
}

.map {
    height: 50vh;
}


@media only screen and (min-width: 1199px) {
    .sub-card-issue {
        margin-top: 9em;
    }
    .sub-card-list {
        margin-top: 5em;
    }
}

/*-------------------------Footer----------------------------*/

footer {
    text-align: center;
}

hr {
    background: #3A3A3A;
    width: 85%;
}

.footer-header {
    font-family: 'Kanit', sans-serif;
    color: #2E3EFF;
    margin-top: 1em;
}

.list-inline {
    margin-top: 1.5em;
}

.footer-p {
    font-family: 'Varela Round', sans-serif;
    color: #6594F1;
}
